*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;
}
body{
    background: white;
}
.container {
  width: 100%;
  height: 100%;
  --s: 37px; /* control the size */

  --c: #0000, #0ec26269 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}
header{
    width: 100%;
    display: flex;
    background: #2ff68cb2;
    border-bottom: solid black 1px;
    position: fixed;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px 0px 15px 15px;
}
main{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    margin: 0px 0px 0px 15px;
}
a, img{
    height: 50px;
}
main{
    display: flex;
    justify-content: center;
    height: 100%;
    
}
.icon-menu {
    margin: 15px;
    --gap: 5px;
    --height-bar: 2.5px;
    --pos-y-bar-one: 0;
    --pos-y-bar-three: 0;
    --scale-bar: 1;
    --rotate-bar-one: 0;
    --rotate-bar-three: 0;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    cursor: pointer;
    position: relative;
  }
  
  .bar {
    position: relative;
    height: var(--height-bar);
    width: 100%;
    border-radius: .5rem;
    background-color: black;
  }
  
  .bar--1 {
    top: var(--pos-y-bar-one);
    transform: rotate(var(--rotate-bar-one));
    transition: top 200ms 100ms, transform 100ms;
  }
  
  .bar--2 {
    transform: scaleX(var(--scale-bar));
    transition: transform 150ms 100ms;
  }
  
  .bar--3 {
    bottom: var(--pos-y-bar-three);
    transform: rotate(var(--rotate-bar-three));
    transition: bottom 200ms 100ms, transform 100ms;
  }
  
  .check-icon:checked + .icon-menu > .bar--1 {
    transition: top 200ms, transform 200ms 100ms;
  }
  
  .check-icon:checked + .icon-menu > .bar--3 {
    transition: bottom 200ms, transform 200ms 100ms;
  }
  
  .check-icon:checked + .icon-menu {
    --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
    --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
    --scale-bar: 0;
    --rotate-bar-one: 45deg;
    --rotate-bar-three: -45deg;
  }
  .card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: lightgray;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-left: 25px;
  }
  
  .card-details {
    color: rgb(189, 0, 0);
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .card-button {
    text-decoration: none;
    text-align: center;
    -webkit-transform: translate(-50%, 125%);
    -ms-transform: translate(-50%, 125%);
    transform: translate(-50%, 125%);
    width: 70%;
    border-radius: 1rem;
    border: none;
    background-color: rgb(189, 0, 0);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 41%;
    bottom: 0;
    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .text-body {
    color: rgb(134, 134, 134);
  }
  
  /*Text*/
  .text-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  /*Hover*/
  .card:hover {
    border-color: rgb(189, 0, 0);
    -webkit-box-shadow: 19px 18px 17px -9px rgba(34, 60, 80, 0.31);
    -moz-box-shadow: 19px 18px 17px -9px rgba(34, 60, 80, 0.31);
    box-shadow: 19px 18px 17px -9px rgba(34, 60, 80, 0.31);
  }
  
  .card:hover .card-button {
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    opacity: 1;
  }
  