*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;
}
body{
    background: white;
}
.container {
  width: 100%;
  height: 100%;
  --s: 37px; /* control the size */

  --c: #0000, #0ec26269 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}
header{
    width: 100%;
    display: flex;
    background: #2ff68cb2;
    border-bottom: solid black 1px;
    position: fixed;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px 0px 15px 15px;
}
.logo1{
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  margin-top: 5px;
}
a{
    padding: 0px 0px 0px 15px;
    display: flex;
    text-decoration: none;
    color:black;
}
a, img{
    height: 50px;
    margin-right: 5px;
}
main{
  padding-top: 50px;
  display: flex;
  justify-content: center;
    align-items: center;
}
.icon-menu {
    margin: 15px;
    --gap: 5px;
    --height-bar: 2.5px;
    --pos-y-bar-one: 0;
    --pos-y-bar-three: 0;
    --scale-bar: 1;
    --rotate-bar-one: 0;
    --rotate-bar-three: 0;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    cursor: pointer;
    position: relative;
  }
  
  .bar {
    position: relative;
    height: var(--height-bar);
    width: 100%;
    border-radius: .5rem;
    background-color: black;
  }
  
  .bar--1 {
    top: var(--pos-y-bar-one);
    transform: rotate(var(--rotate-bar-one));
    transition: top 200ms 100ms, transform 100ms;
  }
  
  .bar--2 {
    transform: scaleX(var(--scale-bar));
    transition: transform 150ms 100ms;
  }
  
  .bar--3 {
    bottom: var(--pos-y-bar-three);
    transform: rotate(var(--rotate-bar-three));
    transition: bottom 200ms 100ms, transform 100ms;
  }
  
  .check-icon:checked + .icon-menu > .bar--1 {
    transition: top 200ms, transform 200ms 100ms;
  }
  
  .check-icon:checked + .icon-menu > .bar--3 {
    transition: bottom 200ms, transform 200ms 100ms;
  }
  
  .check-icon:checked + .icon-menu {
    --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
    --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
    --scale-bar: 0;
    --rotate-bar-one: 45deg;
    --rotate-bar-three: -45deg;
  }

  .card {
    width: 200px;
    height: 250px;
    background: #262626;
    margin: 0px 85px 0px 85px;
    padding: 15px;
  }
  
  .GameIcon {
    transform: translate(-80px,-50px);
    position: absolute;
    width: 150px;
    height: 170px;
    transition: 0.3s;
  }
  
  .GameImg {
    width: 100%;
    height: 100%;
  }
  
  .Gfooter {
    width: 100%;
    height: 0%;
    background-color: #262626;
    border-radius: 10px;
    transition: all 0.3s;
  }
  
  .Name {
    transform: translate(10px,135px);
    position: absolute;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    color: #ff5858;
  }
  
  .SmallIcon {
    width: 0px;
    height: 0px;
    transform: translate(10px,10px);
    border-radius: 10px;
    background-color: #ff5858;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SmallIcon img{
    opacity: 0;
    transform: translate(1px,1px);
    transition: 0.2s;
  }
  
  .Descripion {
    margin: 60px;
    padding: 18px;
    transform: translate(0px,20px);
    opacity: 0%;
    color: #ff5858;
    font-weight: bold;
    font-size: 14px;
  }
  
  .StarIcon {
    transform: translate(-0px,25px);
    width: 20px;
    fill: #ebd300;
  }
  
  .Stars {
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transform: translate(80px,-70px);
  }
  
  .GameImg:hover .Descripion {
    opacity: 100%;
  }
  
  .GameImg:hover .Gfooter {
    width: 100%;
    height: 100%;
  }
  
  .GameImg:hover .SmallIcon {
    width: 60px;
    height: 60px;
  }
  .GameImg:hover .SmallIcon img {
    opacity: 1;
  }
  
  .GameImg:hover .Name {
    transform: translate(90px,-260px);
  }
  
  .GameImg:hover .GameIcon {
    transform: translate(100px,-160px);
  }  

  .menu1{
    padding: 0;
    margin: 0;
    top: 44px;
    position: fixed;
    display: flex;
    width: 300px;
    height: 100%;
    background: #0ec26269;
    justify-content: center;
    align-items: center;
    right: 0;
    font-family: "Press Start 2P", system-ui;
    transform: translateX(100%);
    transition: all 0.4s linear;
}
.opened{
    transform: translateX(0%);
    transition: all 0.5s hover;
}
.menu1 ul{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.menu1 ul li{
    width: 100%;
    list-style: none;
    width: 120%;
    transition: all 0.4s ease-in-out;
}
.menu1 ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.menu1 ul li a{
    display: block;
    padding: 25px;
}
.menu1 li:hover{
    transition: all  0.4s linear;
    background: rgb(22, 91, 170);
    transform: translateX(-12%);
}